<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  


</head>
<body>
<div class="container-fluid">
  <div class="container">
    <div class="outer">
      <img src="">
    </div> 
  </div>
  <header id="top-header">
    <img class="resize" src="../static/images/nba.jpg">
  </header>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/heatmap">Map</a>
      <a href="/playerdraft">Player Draft</a>
      <a href="/fantasymatch">Fantasy Match</a>
      <a href="/pointsposition">Points By Position</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="dropdown">
        <h5>SELECT TEAM 1:</h5>
         <!--  <select id="myDropdown" aria-placeholder="Select Team 1" onchange="getSelectedValue();"></select> -->
      </div>
  
        <select id="list" class="select-bar" onchange="getSelectedValue('list')">
          <option value="DERRICK DUNKAROSE">BIBBY-SANITY</option>
          <option value="DERRICK DUNKAROSE">DERRICK DUNKAROSE</option>
          <option value="DURANTJEMIMA">DURANTJEMIMA</option>
          <option value="FISH FRYE">FISH FRYE</option>
          <option value="GOOD D-WILL HUNTING">GOOD D-WILL HUNTING</option>
          <option value="JOAKIMPOSSIBLE">JOAKIMPOSSIBLE</option>
          <option value="LEBRONS BURNT JERSEY">LEBRONS BURNT JERSEY</option>
          <option value="MANU ....ARE HILARIO">MANU ....ARE HILARIO</option>
          <option value="MONTA ELLIS ISLAND">MONTA ELLIS ISLAND</option>
          <option value="YOUR TEAM">YOUR TEAM</option>
        </select>
    </div>
    <div class="col-md-4">
      <div class="dropdown">
        <h5>SELECT TEAM 2:</h5>
         <!--  <select id="myDropdown" aria-placeholder="Select Team 1" onchange="getSelectedValue();"></select> -->
      </div>
   
        <select id="list2" class="select-bar" onchange="getSelectedValue('list2')">
          <option value="DERRICK DUNKAROSE">BIBBY-SANITY</option>
          <option value="DERRICK DUNKAROSE">DERRICK DUNKAROSE</option>
          <option value="DURANTJEMIMA">DURANTJEMIMA</option>
          <option value="FISH FRYE">FISH FRYE</option>
          <option value="GOOD D-WILL HUNTING">GOOD D-WILL HUNTING</option>
          <option value="JOAKIMPOSSIBLE">JOAKIMPOSSIBLE</option>
          <option value="LEBRONS BURNT JERSEY">LEBRONS BURNT JERSEY</option>
          <option value="MANU ....ARE HILARIO">MANU ....ARE HILARIO</option>
          <option value="MONTA ELLIS ISLAND">MONTA ELLIS ISLAND</option>
          <option value="YOUR TEAM">YOUR TEAM</option>
        </select>
      </div>
    <div class="col-md-4">
      <div class="btn">
       <button type="button" onclick="">Get the Stats with Difference</button>
      </div>
    </div>
    </div>
    <br>
    <!-- <div class="row2">
      <div class="col-md-4">
        <div class="box2">
            
        </div>
      </div>
      <div class="col-md-4">
        <div class="box2">
            
        </div>
      </div>
      <div class="col-md-4">
        <div class="box2">
            
        </div>
      </div>
    </div>
    
    <div class="row3">
        <div class="col-md-4">
          <div class="box2">
          </div>    
        </div>
        <div class="col-md-4">
          <div class="box2">
          </div>    
        </div>
        <div class="col-md-4">
          <div class="box2">
          </div>    
        </div>
    </div>   
    <br> -->
    <br>
    <div class="row">
      <strong>TEAM 1</strong>
        <div id="table-area" class="">
            <table id="stat-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">assists</th>
                  <th class="table-head">blocks</th>
                  <th class="table-head">fga</th>
                  <th class="table-head">fgm</th>
                  <th class="table-head">fgp</th>
                  <th class="table-head">fta</th>
                  <th class="table-head">ftm</th>
                  <th class="table-head">ftp</th>
                  <th class="table-head">points</th>
                  <th class="table-head">steals</th>
                  <th class="table-head">totReb</th>
                  <th class="table-head">tpm</th>
                  <th class="table-head">turnovers</th>
                </tr> 
              </thead>
                <tbody>
                  <tr id="team1"></tr>
                </tbody>
            </table>
          </div>
    </div>

      <div class="row">
        <strong text-align="left">TEAM 2</strong>
        <div id="table-area" class="">
            <table id="stat-table" class="table table-striped">
              <thead>
                <div class="col-md-12">
                <tr class="row-set">
                  <th class="table-head">assists</th>
                  <th class="table-head">blocks</th>
                  <th class="table-head">fga</th>
                  <th class="table-head">fgm</th>
                  <th class="table-head">fgp</th>
                  <th class="table-head">fta</th>
                  <th class="table-head">ftm</th>
                  <th class="table-head">ftp</th>
                  <th class="table-head">points</th>
                  <th class="table-head">steals</th>
                  <th class="table-head">totReb</th>
                  <th class="table-head">tpm</th>
                  <th class="table-head">turnovers</th>
                </tr> 
              </div>
              </thead>
              <tbody>
                <tr id="team2"></tr>
              </tbody>
              </div>
            </table>
          </div>
        
        </div>
      </div>
      <div class="row">
        <strong class="text-left">Difference</strong>
        <div id="table-area" class="">
            <table id="stat-table" class="table table-striped">
              <thead>
                <div class="col-md-6">
                <tr>
                  <th class="table-head">assists</th>
                  <th class="table-head">blocks</th>
                  <th class="table-head">fga</th>
                  <th class="table-head">fgm</th>
                  <th class="table-head">fgp</th>
                  <th class="table-head">fta</th>
                  <th class="table-head">ftm</th>
                  <th class="table-head">ftp</th>
                  <th class="table-head">points</th>
                  <th class="table-head">steals</th>
                  <th class="table-head">totReb</th>
                  <th class="table-head">tpm</th>
                  <th class="table-head">turnovers</th>
                </tr> 
              </div>
              </thead>
              <tbody>
                <tr  id="difference"></tr>
              </tbody>
              </div>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.js"></script>
  <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
  <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>  
  <script src="../static/js/index.js"></script>
  <script src="../static/js/config.js"></script>
  <script src="../static/js/fantasymatch.js"></script>
</body>

</html>