<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>


</head>

<body>
  <div class="container">
        <div class="outer">
            <img src="">
         </div>
      <header class="header"> 
      </header>
        <!-- <h1>NBA Player Analysis</h1>  -->
    </div>
    
     </div>
    
     <!-- <div class="navbar">  
        <a href="/">Home</a>
        <a href="/about">Heatmap</a>
        <a href="/comparison">PlayerDraft</a>
        <a href="/analysis">FantacyMatch</a>
        <a href="/top-25">PointsPosition</a>
    </div> -->
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar">
     
      <a href="#">Home</a>
      <a href="heatmap">Heatmap</a>
      <a href="playerdraft">PlayerDraft</a>
      <a href="fantasymatch">FantasyMatch</a>
      <a href="pointsposition">PointsPosition</a>
    </div>
  </div>
</nav>

      <div class="gadget">
        <form method="get" id="search" action="#">
           <span>
              <input type="text" value="Choose Player.." name="s" id="s" />
              <input name="searchsubmit"  value="Search" id="searchsubmit" class="btn"  />
           </span>
        </form>
      </div>
  <br>
   <br>
    <div class="row2">
        <div class="col-md-12">
          <div class="box">
          </div>    
        </div>
    </div>   
  <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
  <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>  
  <script src="../static/js/index.js"></script>
  <script src="../static/js/config.js"></script>
</body>

</html>