<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="container">
     <div class="outer">
      <img src="">
    </div> 
  </div>
  <header id="top-header">
    <img class="resize" src="../assets/images/nba.jpg">
  </header>
    <div class="navbar">
      <a href="index.html">Home</a>
      <a href="heatmap.html">Heatmap</a>
      <a href="playerdraft.html">PlayerDraft</a>
      <a href="fantasymatch.html">FantasyMatch</a>
      <a href="pointsposition.html">PointsPosition</a>
    </div>
  
  <div class="row">
      <form action="">
        <div class="col-md-4">
          <div class="box3">
            
        </div>
      </div>
      <div class="col-md-4">
        <div class="box3">
            
        </div>
      </div>
      <div class="col-md-4">
        <div class="box3">
           
        </div>
      </div>
      </form> 
    </div>
  <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
  <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>  
  <script src="../static/js/playerdraft.js"></script>
  <script src="../static/js/config.js"></script>
</body>

</html>