<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="container">
     <div class="outer">
      <img src="">
    </div> 
  </div>
  <header id="top-header">
    <img class="resize" src="../assets/images/nba.jpg">
  </header>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/heatmap">Heatmap</a>
      <a href="/playerdraft">PlayerDraft</a>
      <a href="/fantasymatch">FantasyMatch</a>
      <a href="/pointsposition">PointsPosition</a>
    </div>
  
    <div class="row">
      <form action="">
        <div class="col-md-4">
          <div class="box1">
            How many teams are in the League?
            <select id="teamnum">
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
            </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box1">
            How many players does each roster have?
            <select id="playernum">
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
            </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box1">
            <button id="filter-btn" type="submit" class="btn">Get the Stats!</button>
        </div>
      </div>
      </form> 
    </div>
    <br>

    <div class="row">
      <form action="">
        <div class="col-md-4">
          <div class="box3">
            
        </div>
      </div>
      <div class="col-md-4">
        <div class="box3">
            
        </div>
      </div>
      <div class="col-md-4">
        <div class="box3">
           
        </div>
      </div>
      </form> 
    </div>
  <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
  <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>  
  <script src="../static/js/playerdraft.js"></script>
  <script src="../static/js/config.js"></script>
</body>

</html>