html,
body {
  padding: 0;
  margin: 0;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: green;
}

.bar:hover {
  fill: blue;
}

.bar:hover {
  fill: red;
}

.bar:hover {
  fill: yellow;
}

.bar:hover {
  fill: purple;
}

.bar:hover {
  fill: pink;
}

.bar:hover {
  fill: black;
}

