/* style sheet for our web pages. */
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  padding: 5px;
  margin: 0px;
  background:  #f8f8f5;
  text-align: left;
}
/* Giving our navbar some padding and a background color */
.navbar {
  padding-bottom: 0px;
  /* margin-bottom: 20px; */
  background: #0d48b6;
}
h1 {
  font-size: 50px;
  text-align: right;
  font-display: bold;
  font-family: Arial;
  color:#0d48b6;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar a {
  margin: auto;
  float: left; 
  cursor: pointer;
  background: #0d48b6;
  font: 1.5em sans-serif;
  text-decoration: none;
  border-radius: 25px; 
  text-align: center;
  padding:15px;
  color: #f8f8f5;  
}

.navbar a:hover {
  background-color: #f8f8f5;
  font: bold;
  color: #0d48b6;
}

.resize {
  width:100px;
  height: 70px;
}

.dropdown
{
 color: #0d48b6;
 font: bold;
}

.select-bar
{
 color: #0d48b6;
}

select {
  margin-left: 30px;
}

.table-head
{
text-align: left;
background: lightgrey;

}

.table-head2
{
  text-align: center;
  background: lightgrey;
}

.teamname {
  padding-left: 30px;
}

.dropd {
  padding-left: 30px;
}

.tvalue{
  padding-left: 30px;
  padding-right: 10px;
}

.box1 {
height: 20px;
padding: 0px;
background: #f8f8f5;
text-align: center;
font-size: 14px;
font: bold;
 
}

.box2 {
  height: 25px;  
  background: #f8f8f5;
  border-top: 1px solid #0d48b6;
  border-right: 1px solid #0d48b6;
  border-left: 1px solid #0d48b6;
  border-bottom: 1px solid #0d48b6;
  padding-right: 15px;
  padding-left: 15px;
  }

.box3 {
  height: 600px;  
  background: #f8f8f5;
  border-top: 1px solid #0d48b6;
  border-right: 1px solid #0d48b6;
  border-left: 1px solid #0d48b6;
  border-bottom: 1px solid #0d48b6;
  padding-right: 15px;
  padding-left: 15px;
  }
  .box4 {
  height: 500px;  
  background: #f8f8f5;
  border-top: 1px solid #0d48b6;
  border-right: 1px solid #0d48b6;
  border-left: 1px solid #0d48b6;
  border-bottom: 1px solid #0d48b6;
  padding-right: 15px;
  padding-left: 15p
}
  .btn {
  font-family: Arial;
  font-size: 17px;
  background: #0d48b6;
  text-align: center;
}

.btn:hover {
  background-color: #f8f8f5;
  font: bold;
  color: #0d48b6;
}
.gadget {
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  height: 30px;
}

.outer {
  height: 10px;
  width: 10px;
}

.header {
  padding: 80px;
  margin: auto;
  float: left;
} 
/* Column container */
.row5 {  
  
  padding-top: 0px;
}
.row2 {  
  display: flex;
  flex-wrap: wrap; 
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  -ms-flex: 30%;
  background-color: rgb(224, 166, 224);
  padding: 20px;
  border-block-end: #0d48b6
}
/* Main column */
.main {   
  flex: 70%;
  -ms-flex: 70%;
  background-color:wheat;
  padding: 20px;
}
 
 #map{
  height: 70rem;
  margin: 0px;
  padding: 0px;
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}


