<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="container">
     <div class="outer">
      <img src="">
    </div> 
  </div>
  <header id="top-header">
    <img class="resize" src="../static/images/nba.jpg">
  </header>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/heatmap">Map</a>
      <a href="/playerdraft">Player Draft</a>
      <a href="/fantasymatch">Fantasy Match</a>
      <a href="/pointsposition">Points By Position</a>
    </div>
  
  <div class="row">
    <form action="">
      <div class="col-md-12">
        <div class="box3">
          <p>
            <h4>
              For our project we created a one stop shop for any and all fantasy basketball needs. When it comes to
            fantasy basketball the most important day of the season is the day your league holds the fantasy draft. 
            People spend hours researching all the players and where they should be drafted, 
            which players have a chance to outperform their previous season, and which players 
            might have just had a lucky season and should regress in the season coming. 
            All valuable information going into draft day. Our group was able to take this 
            long and time consuming process and turned it into a process that could be done 
            in a matter of seconds. All the user has to enter is how many teams are in his/her 
            league and the number of players on each roster and then at the click of a button a 
            list will be generated of all the players that should be drafted throughout the draft 
            and the order in which they should be selected. This will create a great advantage for 
            the user because they will know which player they should be taking in their specific 
            draft position and it will also make it very easy to identify value all throughout 
            the draft. If the user is about to make the 20th pick in the draft and the 13th ranked 
            player from our draft guide is still available it is clear who the choice should be 
            really simplifies the draft process.
            <br>
            <br>
            <br>
              Our site is also a major benefit for in season use when it comes to matchup predictions and statistical 
            projections. In fantasy basketball there are 9 categories of importance and your team needs to win any 5 
            of them to win the week. With our site your team and the team you are playing can be entered and then our 
            program will make week long predictions about all the players on your team and the opponents team. This 
            will be a very useful tool because it allows for the user to see where their team is projected to stand at 
            weeks end and can make necessary adjustments to the categories that are projected to be close to secure a 
            win for the week. For example if a user is projected to lose a category like steals by 20 steals and lose 
            rebounds by one the user can focus their lineup on players that are good rebounders because they have no 
            chance at winning steals they can put more stock into rebounds, a category that is still there for the taking. 
            <br>
            <br>
              The third function of our website is to see how each NBA team performs against a given position. This is a 
            useful tool for the user when they are debating which player to start if it is a 
          </h4>
          </p>  
        </div>
      </div>
    </form> 
  </div>
  <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
  <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>  
  <script src="../static/js/playerdraft.js"></script>
  <script src="../static/js/config.js"></script>
</body>

</html>